    .single_advisor_profile {
        position: relative;
        margin-bottom: 50px;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        z-index: 1;
        border-radius: 15px;
        -webkit-box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
        box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
    }
    .single_advisor_profile .advisor_thumb {
        position: relative;
        z-index: 1;
        border-radius: 15px 15px 0 0;
        margin: 0 auto;
        padding: 30px 30px 0 30px;
        background-color: #070a57;
        overflow: hidden;
    }
    .single_advisor_profile .advisor_thumb::after {
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        position: absolute;
        width: 150%;
        height: 80px;
        bottom: -45px;
        left: -25%;
        content: "";
        background-color: #ffffff;
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }
    @media only screen and (max-width: 575px) {
        .single_advisor_profile .advisor_thumb::after {
            height: 160px;
            bottom: -90px;
        }
    }
    .single_advisor_profile .advisor_thumb .social-info {
        position: absolute;
        z-index: 1;
        width: 100%;
        bottom: 0;
        right: 30px;
        text-align: right;
    }
    .single_advisor_profile .advisor_thumb .social-info a {
        font-size: 14px;
        color: #020710;
        padding: 0 5px;
    }
    .single_advisor_profile .advisor_thumb .social-info a:hover,
    .single_advisor_profile .advisor_thumb .social-info a:focus {
        color: #3f43fd;
    }
    .single_advisor_profile .advisor_thumb .social-info a:last-child {
        padding-right: 0;
    }
    .single_advisor_profile .single_advisor_details_info {
        position: relative;
        z-index: 1;
        padding: 30px;
        text-align: right;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        border-radius: 0 0 15px 15px;
        background-color: #ffffff;
    }
    .single_advisor_profile .single_advisor_details_info::after {
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        position: absolute;
        z-index: 1;
        width: 50px;
        height: 3px;
        background-color: #070a57;
        content: "";
        top: 12px;
        right: 30px;
    }
    .single_advisor_profile .single_advisor_details_info h6 {
        margin-bottom: 0.25rem;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        color:#070a57;
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        .single_advisor_profile .single_advisor_details_info h6 {
            font-size: 14px;
        }
    }
    .single_advisor_profile .single_advisor_details_info p {
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        margin-bottom: 0;
        font-size: 14px;
        color: #070a57;
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        .single_advisor_profile .single_advisor_details_info p {
            font-size: 12px;
        }
    }
    .single_advisor_profile:hover .advisor_thumb::after,
    .single_advisor_profile:focus .advisor_thumb::after {
        background-color: #070a57;
    }
    .single_advisor_profile:hover .advisor_thumb .social-info a,
    .single_advisor_profile:focus .advisor_thumb .social-info a {
        color: white;
    }
    .single_advisor_profile:hover .advisor_thumb .social-info a:hover,
    .single_advisor_profile:hover .advisor_thumb .social-info a:focus,
    .single_advisor_profile:focus .advisor_thumb .social-info a:hover,
    .single_advisor_profile:focus .advisor_thumb .social-info a:focus {
        color: white;
    }
    .single_advisor_profile:hover .single_advisor_details_info,
    .single_advisor_profile:focus .single_advisor_details_info {
        background-color: #070a57;
    }
    .single_advisor_profile:hover .single_advisor_details_info::after,
    .single_advisor_profile:focus .single_advisor_details_info::after {
        background-color: #ffffff;
    }
    .single_advisor_profile:hover .single_advisor_details_info h6,
    .single_advisor_profile:focus .single_advisor_details_info h6 {
        color: #ffffff;
    }
    .single_advisor_profile:hover .single_advisor_details_info p,
    .single_advisor_profile:focus .single_advisor_details_info p {
        color: #ffffff;
    }
    .page-link{
        color: #070a57!important;
    }
    #create-event-button {
        background-color:#070a57;
        color:white;
    }
    #create-event-button:hover {
        background-color:white;
        color:#070a57!important;
        border-color: #070a57;
    }
    [name = edit-event-button]{
        background-color:#070a57;
        color:white;
    }
    [name = edit-event-button]:hover{
        background-color:white;
        color:#070a57;
        border-color: #070a57;
    }
    [name = delete-event-button]{
        background-color:#AC3B61;
        color:white;
    }
    [name = delete-event-button]:hover{
        background-color:white;
        color:#AC3B61;
        border-color:#AC3B61;
    }
    [name = dismiss-button]{
        background-color:#AC3B61;
        color:white;
    }
    [name = dismiss-button]:hover{
        background-color:white;
        color:#AC3B61;
        border-color:#AC3B61;
    }
    .card{
        color:#070a57;
    }
    #new-user-select-button{
        background-color:#070a57;
        color:white;
    }
    #new-user-select-button:hover{
        background-color:white;
        color:#070a57;
        border-color:#070a57;
    }
    [name="danger-button"]:hover{
        background-color:white;
        color:#AC3B61;
        border-color:#AC3B61;
    }
    [name="danger-button"]{
        background-color:#AC3B61;
        color:white;
    }
    [name="yeah-button"]{
        background-color:#5cb85c;
        color:white;
    }
    [name="yeah-button"]:hover{
        background-color:white;
        color:#5cb85c;
        border-color:#5cb85c;
    }
    [name="no-button"]{
        background-color:gray;
        color:white;
    }
    [name="no-button"]:hover{
        background-color:white;
        color:gray;
        border-color:gray;
    }
    [name="plan-button"]{
        background-color:#f0ad4e;
        color:white;
    }
    [name="plan-button"]:hover{
        background-color:white;
        color:#f0ad4e;
        border-color:#f0ad4e;
    }
    h1.effect-underline:after {
        content: '';
        position: absolute;
        left: 4rem;
        display: inline-block;
        height: 1em;
        width: 80%;
        border-bottom: 3px solid;
        margin-top: 20px;
        opacity: 0;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: scale(0,1);
        transform: scale(0,1);
    }
    
    h1.effect-underline:hover:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    a{
        color:#070a57;
    }