body{
    background-color:#EEE2DC!important;
    color: white;
}
#main-navbar{
    background-color:#AC3B61;
    color:white !important;
}
#main-navbar a{
    text-decoration:none !important;
    color:white !important;
}
a {
    text-decoration:none !important;
    
}
.jumbotron {
    background-color:#123c69!important;
}

.card {
    color:white;
    background-color:#123c69;
}