body{
    background-color:#EEE2DC!important;
}
#main-navbar{
    background-color:#AC3B61;
    color:white !important;
}
#main-navbar a{
    text-decoration:none !important;
    color:white !important;
}
a {
    text-decoration:none !important;
    
}
.jumbotron {
    background-color:#123c69!important;
}

.card {
    background-color:#123c69;
}
[name="danger-button"]:hover{
    background-color:white;
    color:#AC3B61;
    border-color:#AC3B61;
}
[name="danger-button"]{
    background-color:#AC3B61;
    color:white;
}
p [name="yeah-button"]{
    background-color:#5cb85c;
    color:white;
}
p [name="yeah-button"]:hover{
    background-color:white;
    color:#5cb85c;
    border-color:#5cb85c;
}
p [name="no-button"]{
    background-color:gray;
    color:white;
}
p [name="no-button"]:hover{
    background-color:white;
    color:gray;
    border-color:gray;
}
li [name="plan-button"]{
    background-color:#f0ad4e;
    color:white;
}
li [name="plan-button"]:hover{
    background-color:white;
    color:#f0ad4e;
    border-color:#f0ad4e;
}
a [name = edit-event-button]{
    background-color:#070a57;
    color:white;
}
a [name = edit-event-button]:hover{
    background-color:white;
    color:#070a57;
    border-color: #070a57;
}
a [name = delete-event-button]{
    background-color:#AC3B61;
    color:white;
}
a [name = delete-event-button]:hover{
    background-color:white;
    color:#AC3B61;
    border-color:#AC3B61;
}
li [name = dismiss-button]{
    background-color:#AC3B61;
    color:white;
}
li [name = dismiss-button]:hover{
    background-color:white;
    color:#AC3B61;
    border-color:#AC3B61;
}
td [ name="event-icon"] {
    color:#AC3B61!important;
    font-size:2rem;
}
li [ name="event-icon"] {
    color:#AC3B61!important;
    font-size:2rem;
}