<div class="card border-primar ">
    <div class="card-header">
    Yeah Voters
    </div>
    <ul class="list-group list-group-flush">
    {% for vote in yeah_votes %}
    <li class="list-group-item">{{ vote.friend.user }}</li>
    {% endfor %}

</div>

<div class="card border-primary">
    <div class="card-header">
    No Voters
    </div>
    <ul class="list-group list-group-flush">
    {% for vote in no_votes %}
    <li class="list-group-item">{{ vote.friend.user }}</li>
    {% endfor %}
    </ul>
</div>
