{% for event in events %}
    {% if event.state == "P1" %}
    <li class="list-group-item ">
        <div id="list-group-item-{{event.id}}">
            <a href="{% url 'event_detail' event.id %}">{{event}} </a><span class="float-right" id="status-{{event.id}}">{{event.get_state_display}}<i class="bi bi-hourglass" name="event-icon"></i></span>
            <hr>
            <p>Yeah: <input disabled id="{{event.id}}-1" value="{{ event.getYeas }}"><button class="btn float-right" name="yeah-button" vote-event="{% url 'vote' %}" onclick=vote({{user.id}},{{event.id}},1)>Vote Yeah</button></p>
            <p>Na: <input  disabled id="{{event.id}}-0" value="{{ event.getNas }}"><button class="btn float-right" name="no-button" vote-event="{% url 'vote' %}" onclick=vote({{user.id}},{{event.id}},0)>Vote No</button></p>
        </div>
        {% if event.creator.user.id == user.id and event.state == "P1" %}
            <button onclick=plan({{event.id}}) id="event-is-on-{{event.id}}" class="btn" name="plan-button"> Event is planned!</button>
        {% endif %}
        {% if event.creator.user.id == user.id %}
            <a href="{% url 'event_edit' event.id %}"><button class="btn btn-primary float-right" name="edit-event-button">Edit</button></a>
            <a href="{% url 'event_delete' event.id %}"><button class="btn btn-danger float-right mr-1" name="delete-event-button">Delete</button></a>
        {% endif %}
    </li>
    {% elif event.state == "P2" %}
    <li class="list-group-item">
        <div id="list-group-item-{{event.id}}">
            <a href="{% url 'event_detail' event.id %}">{{event}} </a><span class="float-right" id="status-{{event.id}}">{{event.get_state_display}}<i class="bi bi-hourglass-top" name="event-icon"></i></span>
            <hr>
            <h6>Attenders:</h6>
            <div class="card">
                <ul class="list-group">
                {% for attender in event.attender.all %}
                    <li class="list-group-item"><a href="{% url 'profile' attender.user %}" class="text-decoration-none">{{attender.user}}</a></li>
                {% endfor %}
                </ul>
            </div>
            <br>
        </div>
        <a href="{% url 'event_edit' event.id %}"><button class="btn float-right " name="edit-event-button">Edit</button></a>
        <a href="{% url 'event_delete' event.id %}"><button class="btn float-right mr-1" name="delete-event-button">Delete</button></a>
    </li>
    {% elif event.state == "H1" %}
    <li class="list-group-item">
        <div id="list-group-item-{{event.id}}">
            <a href="{% url 'event_detail' event.id %}">{{event}} </a><span class="float-right" id="status-{{event.id}}">{{event.get_state_display}}<i class="bi bi-hourglass-split" name="event-icon"></i></span>
            <hr>
            <h6>Attenders:</h6>
            <div class="card">
                <ul class="list-group">
                {% for attender in event.attender.all %}
                    <li class="list-group-item"><a href="{% url 'profile' attender.user %}" class="text-decoration-none">{{attender.user}}</a></li>
                {% endfor %}
                </ul>
            </div>
            <br>
        </div>
    </li>
    {% elif event.state == "H2" %}
    <li class="list-group-item">
        <div id="list-group-item-{{event.id}}">
            <a href="{% url 'event_detail' event.id %}">{{event}} </a><span class="float-right" id="status-{{event.id}}">{{event.get_state_display}}<i class="bi bi-hourglass-bottom" name="event-icon"></i></span>
            <hr>
            <h6>Attenders:</h6>
            <div class="card">
                <ul class="list-group">
                {% for attender in event.attender.all %}
                    <li class="list-group-item"><a href="{% url 'profile' attender.user %}" class="text-decoration-none">{{attender.user}}</a></li>
                {% endfor %}
                </ul>
            </div>
            <br>
        </div>
    </li>
    {% elif event.state == "N" %}
    <li class="list-group-item">
        <div id="list-group-item-{{event.id}}">
            <a href="{% url 'event_detail' event.id %}">{{event}} </a><span class="float-right" id="status-{{event.id}}">{{event.get_state_display}}<i class="bi bi-x-lg" name="event-icon"></i></span>
            <hr>
        </div>
    </li>
    {% endif %}
{% endfor %}