{% for friend in friends %}
    <div class="col-12 col-sm-6 col-lg-3">
        <a href="{% url 'profile' friend.user.username %}">
        <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp; length:1rem;">
            <!-- Team Thumb-->
            <div class="advisor_thumb"><img src="{{ friend.img }}"  alt="" style="length:5rem;">
            <!-- Social Info-->
            <div class="social-info"><a href="#"><i class="bi bi-facebook"></i></a><a href="#"><i class="bi bi-twitter"></i></a><a href="#"><i class="bi bi-linkedin"></i></a></div>
            </div>
            <!-- Team Details-->
            <div class="single_advisor_details_info">
            <h6>{{ friend.user.username }}</h6>
            {% if friend.description %}
                <p class="designation">{{ friend.description }}</p>
            {% else %}
                <br>
            {% endif %}
            </div>
        </div>
        </a>
    </div>
{% endfor %}

<nav aria-label="..." >
    <ul class="pagination pagination-sm justify-content-center">
        {% for i in page_list_friend %}
        <li class="page-item {% if current_page == i %}active{% endif %}" id="pagination-li-{{ i }}"><a class="page-link" onclick=paginate_user({{ i }}) >{{ i }}</a></li>
        {% endfor %}
    </ul>
</nav>