{% extends "base.html" %}
{% load static %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">

{% endblock extra_head %}
{% block body %}

<div class="container" id="profile-main">
  <div class="main-body">
    <br>
    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img src="{{ friend.img }}" alt="Admin" class="rounded-circle" width="150">
              <div class="mt-3">
                <h4>{{ user.username }}</h4>
                <p class="text-secondary mb-1">{{ friend.description }}</p>
                <p class="text-muted font-size-sm">{{ friend.address }}</p>
                <div id="friend-request">
                {% include "accounts/ajax_render/friend_request.html" %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card mt-3">
          <div class="card-header">
            Friend Groups
          </div>
          <div class="accordion" id="accordionExample">
            {% for group in groups %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading{{ forloop.counter }}">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
                  {{ group.name }}{% if group.is_private %} <span class="text-muted ml-2">Private</span>{% endif %}
                </button>
                </h2>
                <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="heading{{ forloop.counter }}" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                    <ul class="list-group list-group-flush">
                    {% for friend in group.friend_set.all %}
                        <li class="list-group-item">
                        <a href="{% url 'profile' friend.user.username %}" class="text-decoration-none">{{ friend }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
          </div>
          {% if request.user == user %}
            <div class="card-header">
              Notifications
            </div>
            <div class="accordion" id="accordionExample">
              {% if friend_request_set %}
              <div class="accordion-item">
                <h2 class="accordion-header" id="heading--1">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse--1" aria-expanded="false" aria-controls="collapse--1">
                  Friend Requests
                </button>
                </h2>
                <div id="collapse--1" class="accordion-collapse collapse" aria-labelledby="heading--1" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <ul class="list-group list-group-flush">
                        {% for friend_request in friend_request_set %}
                        <li class="list-group-item" id="request-{{ friend_request.id }}">
                          <a href="{% url 'profile' friend_request.sender.user %}">{{ friend_request.sender }}</a><button class="btn btn-success ml-2 float-right" onclick=accept_request({{ friend_request.id }})>Accept</button>
                        </li>
                        {% endfor %}
                      </ul>
                    </div>
                </div>
                </div>       
              {% endif %}

              
              {% comment %} <div class="accordion-item">
                  <h2 class="accordion-header" id="heading--2">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse--2" aria-expanded="false" aria-controls="collapse--2">
                    Group Invitations
                  </button>
                  </h2>
                  <div id="collapse--2" class="accordion-collapse collapse" aria-labelledby="heading--2" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                      <ul class="list-group list-group-flush">
                      {% for friend in group.friend_set.all %}
                          <li class="list-group-item">
                          <a href="{% url 'profile' friend.user.username %}" class="text-decoration-none">{{ friend }}</a>
                          </li>
                      {% endfor %}
                      </ul>
                      </div>
                  </div>
              </div> {% endcomment %}
            </div>
          {% endif %}

        </div>
      </div>
      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Full Name</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{ friend.fullname }}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Email</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{ user.email }}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Phone</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{ friend.phone }}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Address</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{ friend.address }}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Badges</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <ul>
                {% for badge in badges %}
                  <li>{{ badge.badge__name }}</li>
                {% endfor %}
                </ul>
              </div>
            </div>
            <hr>
            {% if request.user == user %}
              <div class="row">
                  <div class="col-sm-12">
                  <a class="btn btn-info " href="{% url 'edit_profile' request.user %}">Edit</a>
                  </div>
              </div>    
            {% else %}
            {% endif %}
          </div>
        </div>

        <div class="row gutters-sm">
          <div class="col-sm-6 mb-3">
            <div class="card h-100">
              <div class="card-body">
                <h6 class="d-flex align-items-center mb-3">Created Events</h6>
                  <table class="table table-hover">
                      <thead>
                          <tr>
                          <th scope="col">Event Name</th>
                          <th scope="col"></th>
                          </tr>
                      </thead>
                      <tbody>
                      {% for event in events_as_creator %}
                        {% if event.state == 'P1' %}
                          <tr class="table-warning">
                              <td><a href="{% url 'event_detail' event.id %}" class="text-decoration-none">{{ event }}</a><i class="bi bi-hourglass float-right" name="event-icon"></i></td>
                              {% if request.user == user  %}
                                  <td><a href="{% url 'event_delete' event.id %}"><button class="btn btn-danger float-right my-1" name="danger-button">Delete</button></a></td>
                              {% else %}
                                  <td></td>
                              {% endif %}
                          </tr>
                        {% elif event.state == 'P2' %}
                          <tr class="table-success">
                              <td><a href="{% url 'event_detail' event.id %}" class="text-decoration-none">{{ event }}</a><i class="bi bi-hourglass-top float-right" name="event-icon"></i></td>
                              <td></td>
                          </tr>
                        {% endif %}
                      {% endfor %}
                      </tbody>
                  </table>
              </div>
            </div>
          </div>
          <div class="col-sm-6 mb-3">
            <div class="card h-100">
              <div class="card-body">
                <h6 class="d-flex align-items-center mb-3">Attending:</h6>
                  <table class="table table-hover">
                      <thead>
                          <tr>
                          <th scope="col">Event Name</th>
                          <th scope="col"></th>
                          </tr>
                      </thead>
                      <tbody>
                      {% for event in events_as_attender %}
                          {% if event.state == 'P2' %}
                          <tr class="table-success" id="table-tr-{{ event.id }}">
                              <td><a href="{% url 'event_detail' event.id %}">{{ event }}</a><i class="bi bi-hourglass-top float-right" name="event-icon"></i></td>
                              <td></td>
                          </tr>
                          {% endif %}
                      {% endfor %}
                      {% for vote in events_as_yeah_voter %}
                        {% if vote.event.state == 'P1' %}
                          <tr class="table-warning" id="table-tr-{{ vote.event.id }}">
                              <td><a href="{% url 'event_detail' vote.event.id %}">{{ vote.event }}</a><i class="bi bi-hourglass float-right" name="event-icon"></i></td>
                              {% if request.user == user %}
                                  <td><button onclick=vote({{ user.id }},{{ vote.event.id }},2) class="btn btn-danger float-right my-1" name="danger-button">Cancel Vote</button></td>
                              {% else %}
                                  <td></td>
                              {% endif %}
                          </tr>
                          {% endif %}
                      {% endfor %}
                      </tbody>
                  </table>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                  <div class="mt-3">
                    <h4>Friends</h4>
                    {% include "accounts/ajax_render/all_friend_list.html" %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                  <div class="mt-3">
                    <h4>Favorite Locations</h4>
                    <ul class="list-group">
                    <table class="table table-hover">
                      <thead>
                      <tr>
                        <th scope="col">Location</th>
                        <th scope="col">#</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for location in most_visited_event_locations %}
                      <tr>
                        <td><a href="{% url 'location_detail' location.location__id %}">{{ location.location__name }}</a></td>
                        <th scope="row">{{ location.lcount }}</th>
                      </tr>
                      {% endfor %}

                    </tbody>
                    </table>
                    {% comment %} {% url 'location_detail' location.location__id %} {% endcomment %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
{{ most_same_event_with_friend }}
  {% for friend in most_same_event_with_friend %}
  <p>{{ friend.friend__user }}</p>
  
  {% endfor %}
{% endblock body %}

{% block extra_script %}

<script>

function vote(u_id, e_id, status){
        $.ajax({
            url: {% url 'vote' %},
            type: "GET",
            data: {'user_id': u_id,'event_id':e_id,'status':status},
            success: function (data) {
                if (data.result){
                    document.getElementById("table-tr-"+e_id).outerHTML = "";
                }
            }
        });
    }

function add_friend(){
        $.ajax({
            url: "{% url 'add_friend' %}",
            type: "GET",
            data: {'receiver_id': {{ friend.id }},'sender_id':{{ request.user.friend.id }}},
            success: function (data) {
                document.getElementById('friend-request').innerHTML = data;
            }
        });
    }

function cancel_request(request_id){
        $.ajax({
            url: "{% url 'cancel_request' %}",
            type: "GET",
            data: {'request_id': request_id,'friend_id':{{ friend.id }}},
            success: function (data) {
                document.getElementById('friend-request').innerHTML = data;
            }
        });
    }


function accept_request(request_id){
        $.ajax({
            url: "{% url 'accept_friend' %}",
            type: "GET",
            data: {'request_id': request_id,'friend_id':{{ friend.id }}},
            success: function (data) {
                document.getElementById('request-'+request_id).remove();
                document.getElementById('allfriend-list').outerHTML = data;
            }
        });
    }

function remove_friend(friend_id){
        $.ajax({
            url: "{% url 'remove_friend' %}",
            type: "GET",
            data: {'friend_id':friend_id},
            success: function (data) {
                document.getElementById('friend-'+friend_id).outerHTML = "";
                // TODO
            }
        });
    }

</script>

{% endblock extra_script %}