{% extends 'base.html' %}

{% block extra_head %}

{% endblock extra_head %}

{% block body %}
  <div class="container">
    <h2>Sign up</h2>
    <form method="post" data-validate-username-url="{% url 'validate_username' %}">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Create an account</button>
    </form>
  </div>
{% endblock %}

{% block extra_script %}

  <script>
    $("#id_username").change(function () {
      var form = $(this).closest("form");
      $.ajax({
        url: form.attr("data-validate-username-url"),
        data: form.serialize(),
        dataType: 'json',
        success: function (data) {
          if (data.is_taken) {
            alert(data.error_message);
          }
        }
      });
      document.getElementById("id_username").value = "";
    });
  </script>
{% endblock extra_script %}