{% load static  %}
<nav id="main-navbar">
  <div class="collapse" id="navbarHeader" >
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 >About</h4>
          <hr class="text-white">
          <p >This is the friends website. You can communicate with your friends and even make new friends here!</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
            {% if user.is_authenticated %}
              <h4 >Account</h4>
              <hr class="text-white">
              <ul class="list-unstyled">
                <li><a href="{% url 'profile' user.username %}">Profile</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
              </ul>
            {% else %}
              <h4>Account</h4>
              <hr class="text-white">
              <ul class="list-unstyled">
                <li><a href="{% url 'logout' %}">Login</a></li>
                <li><a href="{% url 'signup' %}">Register</a></li>
              </ul>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark  box-shadow" style="background-color:#AC3B61;">
    <div class="container d-flex justify-content-between">
      <a href="{% url 'home' %}" class="navbar-brand d-flex align-items-center">
        <img src="{% static 'img/favicon.ico' %}" style="width:2rem" class="mr-2">
        <strong>Friends</strong>
      </a>
      <a href="{% if user.is_authenticated %}{% url 'profile' request.user.username %}{% else %}{% url 'login' %}{% endif %}">
        {% if request.user.is_authenticated %}Welcome {{request.user.username}}{% else %}Welcome, please login.{% endif %}
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</nav>
