{% extends "base.html" %}
{% load static %}
{% block extra_head %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'css/group_profiles.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.min.css" integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA=" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.min.js" integrity="sha256-rPPF6R+AH/Gilj2aC00ZAuB2EKmnEjXlEWx5MkAp7bw=" crossorigin="anonymous"></script>
<link href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.1/css/all.css' rel='stylesheet'>

{% endblock extra_head %}

{% block body %}
<div class="container bg-light" id="profile-main">
  <div class="main-body">
    <br>
    <div class="row gutters-sm">
      <div class="row text-center">
        <h1>{{ group.name }}'s calendar</h1>
      </div>
      <div class="container-fluid">
          <div class="row">
              <div id="calendar" class="d-none d-md-flex col-md-4 col-lg-12 p-3" style="min-height: 35em;"></div>
          </div>
      </div>
    </div>
  </div>
</div>

<br>

<div class="container">
  <div class="row">
    <div class="row text-center">
      <div class="col align-content-center">
        <div class="row">
        <p>Event accomplishment rate: {{ event_accomplishment_rate|floatformat:2 }}</p>
        </div>
        {% if event_accomplishment_rate < 0.4 %}
        <div class="row">
          <p>Isn't it a bit low? Did you try our event planner?</p>
        </div>
        {% elif event_accomplishment_rate > 0.7 %}
        <div class="row">
          <p>Wow, your group should organize NATO meetings!</p>
        </div>
        {% else %}
        <div class="row">
          <p>Some organizes, some declines. Like always...</p>
        </div>
        {% endif %}
        <div class="row">
          <form action="{% url 'new_event' %}" method="GET">  <input type="hidden" value="{{group.id}}" name="group_id"><button class="btn mb-5 mx-auto col-12 col-sm-4" id="create-event-button">Create a new event</button></form>
        </div>
      </div>
      <div class="col align-content-center">
        <form action="{% url 'test' group.id %}" method="GET">
          <div class="form-group">
            <div class="row">
              <label for="length">Choose length for event</label>
            </div>
            <div class="row">
              <div class="col-16">
                <input style="background:white" type="range" class="custom-range" min="1" value="1" max="24" id="length" name="length" step="1" oninput="this.nextElementSibling.value = this.value">
                <output>1</output>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label for="length">Choose length for pause before and after event</label>
            </div>
            <div class="row">
              <div class="col-16">
                <input style="background:white" type="range" class="custom-range" min="1" value="1" max="6" id="length_for_pause" name="length_for_pause" step="1" oninput="this.nextElementSibling.value = this.value">
                <output>1</output>
              </div>
            </div>
          </div>
          <button type="submit" class="btn mb-5 mx-auto col-12 col-sm-4" id="create-event-button">Find an interval</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md" id="events-all">
    {% include 'core/ajax_render/event_pagination.html' %}
  </div>
  <div class="col-md">
    <br> <br>
    <div class="card float-right shadow p-3 mb-3" style="width: 38rem;">
      <div class="card-header">
          Dismiss friends
      </div>
      <ul class="list-group list-group-flush" id="friend-list-add">
      {% for friend in group.get_friends %}
          {% if friend.user == request.user or group.creator == friend.user %}
          {% else %}
              <li class="list-group-item" id="{{ friend.user.id }}">{{ friend.user }}<button dismiss-user="{% url 'dismiss' %}" onclick=dismiss({{ friend.user.id }},{{ group.id }}) class="btn float-right" name="dismiss-button">Dismiss</button></li>
          {% endif %}
      {% endfor %}
      </ul>
      <div class="card-footer">
        <h5 id="new-user-select-h5"  {% if friends_that_are_not_in_group|length %}{% else %} style="display:none;"{% endif %}>Add a new friend</h5>
        <select name="new_user" id="new-user-select" {% if friends_that_are_not_in_group|length %}{% else %} style="display:none;"{% endif %}>
          {% for friend in friends_that_are_not_in_group %}
          <option value="{{ friend.user.id }}" id="new-user-option-{{ friend.user.id }}">{{ friend.user.username }}</option>
          {% endfor %}
        </select>
        <button {% if friends_that_are_not_in_group|length %}{% else %} style="display:none;"{% endif %} onclick=addUserToGroup() class="btn" type="submit" id="new-user-select-button">Add friend</button>
        <p id ="new-user-select-p"  {% if friends_that_are_not_in_group|length %} style="display:none;"{% else %}{% endif %}> There are no friends that you can add.</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8 col-lg-6">
      <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
        <h1 class="effect-underline">Friends in the group</h1>
        <br>
        <div class="line"></div>
      </div>
    </div>
  </div>
  <div class="row" id="friend-list">
    {% include 'core/ajax_render/user_pagination.html' %}
  </div>
</div>
<br>
{% endblock body %}

{% block extra_script %}

<script>
document.addEventListener('DOMContentLoaded', function () {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
        themeSystem: 'bootstrap',
        locale: 'en',
        firstDay: 1,
        height: '100',
        initialView: 'dayGridMonth',
        fixedWeekCount: false,
        events:[
        {% for i in all_events %}
        {
            title: "{{ i.name }}",
            start: '{{ i.start_date|date:"Y-m-d" }}',
            end: '{{ i.end_date|date:"Y-m-d" }}',
            url: '{% url 'event_detail' i.id %}',

        },
        {% endfor %}

    ]
    });
    calendar.render();
});

function dismiss(u_id, g_id){
        $.ajax({
            url: {% url 'dismiss' %},
            type: "GET",
            data: {'user_id': u_id,'group_id':g_id},
            success: function (data) {
                document.getElementById(u_id).remove();
                document.getElementById('new-user-select').innerHTML+= '<option value="'+u_id+'" id="new-user-option-'+u_id+'">'+ data.name +'</option>';
                document.getElementById('new-user-select-h5').style.display = "";
                document.getElementById('new-user-select-button').style.display = "";
                document.getElementById('new-user-select').style.display = "";
                document.getElementById('new-user-select-p').style.display = "none";
            }
        });
    }

function vote(u_id, e_id, status){
        $.ajax({
            url: {% url 'vote' %},
            type: "GET",
            data: {'user_id': u_id,'event_id':e_id,'status':status},
            success: function (data) {
                document.getElementById(e_id+'-0').value = data.nas;
                document.getElementById(e_id+'-1').value = data.yeas;
            }
        });
    }

function addUserToGroup(){
        g_id = {{ group.id }};
        $.ajax({
            url: {% url 'addUserToGroup' %},
            type: "GET",
            data: {'user_id': document.getElementById('new-user-select').value,'group_id':g_id},
            success: function (data) {
                if (data.added){
                    u_id = document.getElementById('new-user-select').value;
                    str = '<li class="list-group-item" id="'+u_id+'">'+data.name+'<button dismiss-user="{% url 'dismiss' %}" onclick="dismiss('+u_id+',' +g_id + ')" class="btn float-right" name="dismiss-button">Dismiss</button></li>';
                    
                    document.getElementById('friend-list-add').innerHTML+= str;
                    document.getElementById('new-user-option-'+u_id).remove();
                    if (document.getElementById('new-user-select').options.length==0){
                        document.getElementById('new-user-select-h5').style.display = "none";
                        document.getElementById('new-user-select-button').style.display = "none";
                        document.getElementById('new-user-select').style.display = "none";
                        document.getElementById('new-user-select-p').style.display = "";
                    }
                }
                else {
                    console.log("error");
                }
            }
        });
    }

function plan(e_id){
        $.ajax({
            url: {% url 'plan' %},
            type: "GET",
            data: {'event_id':e_id},
            success: function (data) {
                document.getElementById('event-is-on-'+e_id).remove();
                if (data.planned){
                    str = '<div id="list-group-item-'+e_id+'"><a href="/event/detail/'+e_id+'">'+data.event_name+'</a><span class="float-right" id="status-'+e_id+'">Status:Planned</span><h5>Attenders:</h5><div class="card"><ul class="list-group">';
                    for (var i=0;i<data.attenders.length;i++){
                        str += '<li class="list-group-item">'+ data.attenders[i] +'</li>';
                    }
                    str += '</ul></div><br></div>';
                    document.getElementById('list-group-item-'+e_id).outerHTML = str;
                }
            }
        });
    }

function paginate_user(page) {
    $.ajax({
        url: "{% url 'paginate' %}",
        type: "get",
        data: {
            'page': page,
            'group': {{ group.id }},
        },
        success: function (data) {
            jQuery('#friend-list').html(data);
        }
    });
}

function paginate_event(page,event_type) {
    $.ajax({
        url: "{% url 'paginate_event' %}",
        type: "get",
        data: {
            'page': page,
            'group': {{ group.id }},
            'event_type': event_type,
        },
        success: function (data) {
            jQuery('#events-all').html(data);
        }
    });
}
</script>



{% endblock extra_script %}

