{% extends "base.html" %}
{% load humanize %}

{% block body %}
    <div class="container">
        <section class="jumbotron text-center" >
            <div class="container">
            {% if user.is_authenticated %}
                <h1 class="jumbotron-heading text-white" >Upcoming Events</h1>
                
                <table class="table table-hover text-white">
                    <thead>
                        <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Location</th>
                        <th scope="col">Time Left</th>
                        </tr>
                        <tbody>
                            {% for event in upcoming_events %}
                                <tr>
                                <td><a href="{% url 'event_detail' event.id %}">{{event.name}}</a></td>
                                <td>{{event.location}}</td>
                                <td>{{event.start_date | naturaltime}}</td>
                                </tr>                        
                            {% endfor %}

                        </tbody>
                    </thead>
                </table>
            {% else %}
            <h1 class="jumbotron-heading text-white" >Welcome</h1>
            {% endif %}

            <p>
                <a href="{% url 'new_group' %}" class="btn btn-primary my-2">Create a new group</a>
                <a href="#" class="btn btn-secondary my-2 ml-3">Join a new group</a>
            </p>
            </div>
        </section>
        <h2 class="text-center">Friend Groups</h2>
        <div class="album py-5" style="background-color:#EEE2DC;border-radius:.3rem;">
            <div class="container">
                <div class="row">
                {% if user.is_authenticated %}
                    {% for group in groups %}
                        <div class="col-md-4" >
                            <div class="card mb-4 box-shadow">
                                <a href="{% url 'detail' group.id %}"><img class="card-img-top" src="{{group.img_url}}" style="height:15em;" alt="Card image cap"></a>
                                <div class="card-body "style="background-color: #123c69;">{% if group.is_private %}<span class="float-right text-white">Private</span>{% endif %}
                                <a href="{% url 'detail' group.id %}"><h5 class="card-title text-white"><b>{{group.name}}</b></h5></a>
                                <p class="card-text"> Group Creator: {{group.creator}}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                    <a href="{% url 'detail' group.id %}"><button type="button" class="btn btn-sm btn-outline-primary mr-2" name="view-button">View</button></a>
                                    <a href="{% url 'edit_group' group.id %}"><button type="button" class="btn btn-sm btn-outline-primary" name="edit-button">Edit</button></a>
                                    </div>
                                    <small class="text-white">Next Event: {{first_event.start_date | naturaltime}}</small>
                                </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <h2>PLEASE LOGIN</h2>
                {% endif %}

                </div>
            </div>
        </div>
    <div>
{% endblock body %}