{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block extra_head %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/google_places.css' %}" />
<script src="{% static 'js/google_places.js' %}"></script>
{% endblock extra_head %}

{% block body %}
<div id="div-1">
<form action="{% url 'new_event' %}" id="address-form" method="POST">
    {% for error in form.non_field_errors %}
        <div class="alert alert-warning" role="alert">{{ error }}</div>
    {% endfor %}
    {% csrf_token %}
    {% for field in form.visible_fields %}
        <div class="form-group">
        {{ field.label }}
        {{ field.errors }}
        {{ field|add_class:'form-control' }}
        {% if field.help_text %}
            <p class="help_text">{{ field.help_text }}</p>
        {% endif %}
        </div>
    {% endfor %}
    {% for field in form.hidden_fields %}
        {{ field }}
    {% endfor %}  
    <button type="submit" class="btn btn-danger">Create a new event without a location</button>
</form>
<button type="submit" onclick=submit_event() class="btn btn-success">Confirm and choose a new location</button>

</div>
{% endblock body %}


{% block extra_script %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgcemZoVjBawCcvVhySBtDyjDYxc2Bb9k&callback=initAutocomplete&libraries=places&v=weekly" async></script>

<script>
    function submit_event() {
    $.ajax({
        url: "{% url 'submit_event' %}",
        type: "post",
        data: $('#address-form').serialize(),
        success: function (data) {
            jQuery('#address-form').outerHTML = "";
            jQuery('#div-1').html(data);
            initAutocomplete();
        }
    });
}


</script>
{% endblock %}