{% extends "base.html" %}


{% block body %}
    <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Welcome to {{group.name}}'s group page!</h1>
          <p class="lead text-muted">You can see your friend group area and arrange new events here!</p>
          <p>
            <a href="#" class="btn btn-primary my-2">Create a new event</a>
            <a href="#" class="btn btn-secondary my-2">Edit an event</a>
          </p>
        </div>
    </section>
    <div class="container">
        <div class="row">
            
            <div class="col-md">
                <div class="card" style="width: 30rem;">
                    <div class="card-header">
                        Events in this group
                    </div>
                    <ul class="list-group list-group-flush">
                    {% for event in events %}
                        <li class="list-group-item">
                            <a href="{% url 'event_detail' event.id %}">{{event}}</a>
                            <p>Yeah: {{ event.getYeas }}</p> <a href="{% url 'vote' group.id event.id 1 %}"><button>Vote Yeah</button></a>
                            <p>Na: {{ event.getNas }}</p> <a href="{% url 'vote' group.id event.id 0 %}"><button>Vote Na</button></a>
                            <a href="{% url 'event_edit' event.id %}"><button class="btn btn-primary">Edit</button></a>
                            <a href="{% url 'event_delete' event.id %}"><button class="btn btn-danger">Delete</button></a>

                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="col-md">
                <div class="card" style="width: 30rem;">
                    <div class="card-header">
                        Friends in this group
                    </div>
                    <ul class="list-group list-group-flush">
                    {% for friend in group.get_friends %}
                        <li class="list-group-item">{{friend.user}} <a href="{% url 'dismiss' group.id friend.user.id %}"><button class="btn btn-danger">Dismiss</button></a></li>
                    {% endfor %}
                    </ul>
                    <div class="card-footer">
                        {% if friends|length %}
                            <h5>Add a new friend</h5>
                            <form action="{% url 'detail' group.id %}" method="post">
                                {% csrf_token %}
                                <select name="new_user">
                                {% for friend in friends %}
                                    <option value="{{friend.user.id}}">{{friend.user.username}}</option>
                                {% endfor %}
                                </select>
                                <button class="btn btn-primary" type="submit">Add friend</button>
                            </form>
                        {% else %}
                            <p>Wow there are no friends that tou can add.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <br>
        <form method="get" action="{% url 'new_event' %}">
            <button class="btn btn-danger" type="submit">Create an event!</button>
        </form>
    </div>
    <br>

{% endblock body %}