{% extends "base.html" %}


{% block body %}
    <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Welcome to {{group.name}}'s group page!</h1>
          <p class="lead text-muted">You can see your friend group area and arrange new events here!</p>
          <p>
            <a href="#" class="btn btn-primary my-2">Create a new event</a>
            <a href="#" class="btn btn-secondary my-2">Edit an event</a>
          </p>
        </div>
    </section>
    <div class="container">
        <div class="row">
            
            <div class="col-md">
                <div class="card" style="width: 30rem;">
                    <div class="card-header">
                        Events in this group
                    </div>
                    <ul class="list-group list-group-flush">
                    {% for event in events %}
                        <li class="list-group-item">
                            <a href="{% url 'event_detail' event.id %}">{{event}} </a><span class="float-right">Status: {{event.get_state_display}}</span>
                            {% if event.creator.id == user.id %}
                                <a href="{% url 'plan' event.id %}"><button class="btn btn-success"> Event is on!</button></a>
                            {% else %}
                            {% endif %}
                            <p>Yeah: <input disabled id="{{event.id}}-1" value="{{ event.getYeas }}"></p> <button vote-event="{% url 'vote' %}" onclick=vote({{user.id}},{{event.id}},1)>Vote Yeah</button>
                            <p>Na: <input  disabled id="{{event.id}}-0" value="{{ event.getNas }}"></p> <button vote-event="{% url 'vote' %}" onclick=vote({{user.id}},{{event.id}},0)>Vote No</button>
                            <a href="{% url 'event_edit' event.id %}"><button class="btn btn-primary">Edit</button></a>
                            <a href="{% url 'event_delete' event.id %}"><button class="btn btn-danger">Delete</button></a>

                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="col-md">
                <div class="card" style="width: 30rem;">
                    <div class="card-header">
                        Friends in this group
                    </div>
                    <ul class="list-group list-group-flush" id="friend-list">
                    {% for friend in group.get_friends %}
                        <li class="list-group-item" id="{{friend.user.id}}">{{friend.user}}<button dismiss-user="{% url 'dismiss' %}" onclick=dismiss({{friend.user.id}},{{group.id}}) class="btn btn-danger">Dismiss</button></li>
                    {% endfor %}
                    </ul>
                    <div class="card-footer">
                        <h5 id="new-user-select-h5"  {% if friends|length %}{% else %} style="display:none;"{% endif %}>Add a new friend</h5>
                        <select name="new_user" id="new-user-select" {% if friends|length %}{% else %} style="display:none;"{% endif %}>
                            {% for friend in friends %}
                            <option value="{{friend.user.id}}" id="new-user-option-{{friend.user.id}}">{{friend.user.username}}</option>
                            {% endfor %}
                        </select>
                        <button {% if friends|length %}{% else %} style="display:none;"{% endif %} onclick=addUserToGroup() class="btn btn-primary" type="submit" id="new-user-select-button">Add friend</button>
                        <p id ="new-user-select-p"  {% if friends|length %} style="display:none;"{% else %}{% endif %}> There are no friends that you can add.</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <form method="get" action="{% url 'new_event' %}">
            <button class="btn btn-danger" type="submit" >Create an event!</button>
        </form>
    </div>
    <button class="btn btn-danger" id="test" type="submit" onclick=fade_out()>Create an event!</button>
    <br>

{% endblock body %}

{% block extra_script %}


<script>

function dismiss(u_id, g_id){
        $.ajax({
            url: {% url 'dismiss' %},
            type: "GET",
            data: {'user_id': u_id,'group_id':g_id},
            success: function (data) {
                document.getElementById(u_id).remove();
                document.getElementById('new-user-select').innerHTML+= '<option value="'+u_id+'" id="new-user-option-'+u_id+'">'+ data.name +'</option>';
                document.getElementById('new-user-select-h5').style.display = "";
                document.getElementById('new-user-select-button').style.display = "";
                document.getElementById('new-user-select').style.display = "";
                document.getElementById('new-user-select-p').style.display = "none";
            }
        });
    }

</script>
<script>

function vote(u_id, e_id, status){
        $.ajax({
            url: {% url 'vote' %},
            type: "GET",
            data: {'user_id': u_id,'event_id':e_id,'status':status},
            success: function (data) {
                document.getElementById(e_id+'-0').value = data.nas;
                document.getElementById(e_id+'-1').value = data.yeas;
            }
        });
    }
</script>

<script>

function addUserToGroup(){
        g_id = {{group.id}};
        $.ajax({
            url: {% url 'addUserToGroup' %},
            type: "GET",
            data: {'user_id': document.getElementById('new-user-select').value,'group_id':g_id},
            success: function (data) {
                if (data.added){
                    u_id = document.getElementById('new-user-select').value;
                    str = '<li class="list-group-item" id="'+u_id+'">'+data.name+'<button dismiss-user="{% url 'dismiss' %}" onclick="dismiss('+u_id+',' +g_id + ')" class="btn btn-danger">Dismiss</button></li>';
                    
                    document.getElementById('friend-list').innerHTML+= str;
                    document.getElementById('new-user-option-'+u_id).remove();
                    if (document.getElementById('new-user-select').options.length==0){
                        document.getElementById('new-user-select-h5').style.display = "none";
                        document.getElementById('new-user-select-button').style.display = "none";
                        document.getElementById('new-user-select').style.display = "none";
                        document.getElementById('new-user-select-p').style.display = "";
                    }
                }
                else {
                    console.log("error");
                }
            }
        });
    }

</script>

{% endblock extra_script %}

