{% extends "base.html" %}
{% block body %}
<h1 class="text-center">Event Details</h1>

<div class="row d-flex align-items-stretch">
    <div class="card border-primary mx-auto " style="width: 30rem;">
      <div class="card-header">
        {{event.name}}
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Starting Time</b><span class="float-right">{{event.start_date}} - {{event.start_time}}</span></li>
        <li class="list-group-item"><b>Ending Time</b><span class="float-right">{{event.end_date}} - {{event.end_time}}</span></li>
        <li class="list-group-item"><b>State</b><span class="float-right">{{event.get_state_display}}</span></li>
        <li class="list-group-item"><b>Creator</b><span class="float-right">{{event.creator.user.username}}</span></li>
      </ul>
    </div>
  {% if event.state != "P1" %}
    <div class="card border-primary mx-auto " style="width: 30rem;">
      <div class="card-header">
        Attenders
      </div>
      <ul class="list-group list-group-flush">
        {% for attender in event.attender.all %}
        <li class="list-group-item">{{attender.user.username}}</li>
        {% endfor %}
      </ul>
    </div>
  {% else %}
  {% endif %}

</div>
<br>
<h2 class="text-center">Location details</h2>
<div class="card mx-auto" style="width: 66rem;">
  <div class="row">
    <div class="col">
        <div class="card-body">
            <a href="{{event.location_website}}"><h5 class="card-title">{{event.location_name}}</h5></a>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Phone: {{event.location_phone_number}}</li>
                <li class="list-group-item">Rating: {{event.location_rating}}</li>
                <li class="list-group-item">Type: {{event.location_type}}</li>
                <li class="list-group-item">{{event.location_address}}</li>
            </ul>
            <a href="#" class="btn btn-primary">Call</a>
        </div>
    </div>
    <div class="col">
    <div id="map" style="height: 400px; width: 100%;"></div>
    </div>
  </div>
  <img class="card-img-top" style="width: 66rem" src="{% if event.location_photo_url %}{{event.location_photo_url}}{% else %}https://pegasuseventsindia.files.wordpress.com/2014/04/eventmanagement-1.jpg?w=1400&h=400&crop=1{% endif %}" alt="Card image cap" >

</div>
{% endblock body %}


{% block extra_script %}

<script>
// Initialize and add the map
function initMap() {
  // The location of place
  const place = { lat: parseFloat({{event.location_latitude}}), lng: parseFloat({{event.location_longitude}}) };
  // The map, centered at place
  const map = new google.maps.Map(document.getElementById("map"), {
    zoom: 13,
    center: place,
  });
  // The marker, positioned at place
  const marker = new google.maps.Marker({
    position: place,
    map: map,
  });
}

</script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgcemZoVjBawCcvVhySBtDyjDYxc2Bb9k&callback=initMap&libraries=&v=weekly" async></script>
{% endblock extra_script %}
    