{% extends "base.html" %}

{% block body %}
    <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">My Friend Groups</h1>
          <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
          <p>
            <a href="{% url 'new_group' %}" class="btn btn-primary my-2">Create a new group</a>
            <a href="#" class="btn btn-secondary my-2">Join a new group</a>
          </p>
        </div>
    </section>
    <div class="container">
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                {% if user.is_authenticated %}
                    {% for group in groups %}
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <a href="{% url 'detail' group.id %}"><img class="card-img-top" src="{{group.img_url}}" style="height:15em;" alt="Card image cap"></a>
                                <div class="card-body">{% if group.is_private %}<span class="float-right text-muted">Private</span>{% endif %}
                                <a href="{% url 'detail' group.id %}"><h5 class="card-title">{{group.name}}</h5></a>
                                <p class="card-text"> Group Creator: {{group.creator}}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                    <a href="{% url 'detail' group.id %}"><button type="button" class="btn btn-sm btn-outline-primary mr-2">View</button></a>
                                    <a href="{% url 'edit_group' group.id %}"><button type="button" class="btn btn-sm btn-outline-primary">Edit</button></a>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <h2>PLEASE LOGIN</h2>
                {% endif %}

                </div>
            </div>
        </div>
    <div>
{% endblock body %}