{% extends "base.html" %}
{% load static %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">

{% endblock extra_head %}
{% block body %}

<div class="container" id="profile-main">
    <div class="main-body">
        <br>
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="{{friend.img}}" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>{{user.username}}</h4>
                      <p class="text-secondary mb-1">{{friend.description}}</p>
                      <p class="text-muted font-size-sm">{{friend.address}}</p>
                      <button class="btn btn-primary">Follow</button>
                      <button class="btn btn-outline-primary">Message</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                <div class="card-header">Friend Groups</div>
                <div class="accordion" id="accordionExample">
                {% for group in groups %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading{{forloop.counter}}">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{forloop.counter}}" aria-expanded="false" aria-controls="collapse{{forloop.counter}}">
                          {{group.name}}{% if group.is_private %} <span class="text-muted ml-2">Private</span>{% endif %}
                        </button>
                        </h2>
                        <div id="collapse{{forloop.counter}}" class="accordion-collapse collapse" aria-labelledby="heading{{forloop.counter}}" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                            <ul class="list-group list-group-flush">
                            {% for friend in group.friend_set.all %}
                                <li class="list-group-item">
                                <a href="{% url 'profile' friend.user.username %}" class="text-decoration-none">{{friend}}</a>
                                </li>
                            {% endfor %}
                            </ul>
                            </div>
                        </div>
                    </div>
                
                {% endfor %}
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{friend.fullname}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user.email}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Phone</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{friend.phone}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Address</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{friend.address}}
                    </div>
                  </div>
                  <hr>
                  {% if request.user == user %}
                    <div class="row">
                        <div class="col-sm-12">
                        <a class="btn btn-info " target="__blank" href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Edit</a>
                        </div>
                    </div>    
                  {% else %}
                  {% endif %}
                </div>
              </div>

              <div class="row gutters-sm">
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3">Events as creator</h6>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                <th scope="col">Event Name</th>
                                <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for event in events_as_creator %}
                                <tr class="table-{% if event.state == 'P1' %}warning{% else %}success{% endif %}">
                                    <td><a href="{% url 'event_detail' event.id %}" class="text-decoration-none">{{event}}</a></td>
                                    {% if request.user == user  %}
                                        <td><a href="{% url 'event_delete' event.id %}"><button class="btn btn-danger float-right">Delete</button></a></td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3">Attending:</h6>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                <th scope="col">Event Name</th>
                                <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for event in events_as_creator %}
                                <tr class="table-{% if event.state == 'P1' %}warning{% else %}success{% endif %}" id="table-tr-{{event.id}}">
                                    <td><a href="{% url 'event_detail' event.id %}">{{event}}</a></td>
                                    {% if event.state == 'P1' and request.user == user %}
                                        <td><button onclick=vote({{user.id}},{{event.id}},2) class="btn btn-danger float-right">Cancel Vote</button></td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                  </div>
                </div>
              </div>



            </div>
          </div>

        </div>
    </div>

{% endblock body %}

{% block extra_script %}

<script>

function vote(u_id, e_id, status){
        $.ajax({
            url: {% url 'vote' %},
            type: "GET",
            data: {'user_id': u_id,'event_id':e_id,'status':status},
            success: function (data) {
                if (data.result){
                    document.getElementById("table-tr-"+e_id).outerHTML = "";
                }
            }
        });
    }
</script>

{% endblock extra_script %}